.LB-container {
    margin-top: .5rem;
    margin-left: 10%;
    font-size: 25px;
    color: white;
    font-weight: 600;
    margin-bottom: 1%;
}

.LB-title {
    font-size: 25px;
    color: white;
    font-weight: 600;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, #5085b1, transparent) 1;
    margin-bottom: 1%;
}

.LB-items-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.LB-item {
    /* border: 1px solid red;*/
    padding: .5% 1%;
    background-color: #3b4d5e57;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 40%;
}

.LB-item-title {
    color: #c7d5e0;
    font-weight: 500;
    margin-bottom: 2%;
    max-width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.LB-item-img {
    height: 140px;
    width: 300px;
}

.LB-playtime {
    color: #adafb1;
    font-size: 12px;
}

.LB-playtime-value {
    color: #adafb1;
    font-size: 12px;
}

.LB-purchased-value {
    color: #adafb1;
    font-size: 12px;
}

.LB-purchased {
    color: #adafb1;
    font-size: 12px;
}
