.SUP-BG-container {
    margin: 0 10%;
}

.SUP-title {
    font-size: 25px;
    color: white;
    font-weight: 600;
    margin-top: .5rem;
    font-size: 25px;
    color: white;
    font-weight: 600;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, #5085b1, transparent) 1;
    margin-bottom: 1%;
}

.SUP-subtext {
    color: #5eafde;
    margin: 1.5% 0;
}

.SUP-early-container {
    border: 1px solid #FFC82C;
    padding: 1%;
}

.SUP-early-title {
    color: #5eafde;
    font-weight: 300;
    margin-bottom: 1%;
}

.SUP-early-description {
    color: #c6d4df;
    font-weight: 300;
    font-size: 13px;
}

.SUP-early-description2{
    color: #c6d4df;
    font-weight: 300;
    font-size: 13px;
    margin-top: 2%;
}

.SUP-smalltext{
    font-size: 8px;
}

.SUP-library{
    color:#5eafde;
    font-weight: 600;
}
