.Landing-container {
    margin-top: 90px;
    /* display: flex; */
    margin: 0px 25.5%;
    /* flex-direction: column; */
}

.N-Bar2{
    /* padding-right: px; */
    padding-top: 35px;
    /* border: 1px solid red; */

}

.L-background {
    background-color: #1A2B40;
    animation: gradientAnimation 5s infinite;
    /* margin-left: -30px;
    margin-right: -8px; */
}

@keyframes gradientAnimation {
    0% {
        background-color: #1A2B40;
    }

    50% {
        background-color: #003561;
    }

    100% {
        background-color: #1A2B40;
    }
}

.f-r {
    margin-top: 50px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.L-Carousel {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    /* margin-right: 35%; */
    z-index: 2;
    /* border: 1px solid red; */

}

.game-list {
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 50px 300px;
}


/* LETS NOT RESIZE  */
/* MY DESCRIPTION SIDE CAROUSEL PLACEHOLDER */
/* PUT IN CONTAINER WITH CAROUSEL LATER */

.L-box{
    padding:150px;
    padding-right: 190px;
    padding-bottom: 168.1px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}


.L-title{
    color: white;
    font-weight: 500;
}

.L-price{
    color: white;
    font-weight: 300;
}

.game-img-card{
    height: 230px;
    width: 460px;
}
