html,
body {
    margin: 0;
    padding: 0;
    background-image: radial-gradient(circle at center, #232c4b, transparent), linear-gradient(to right, #181A21, #181A21);
    /* max-width: 1900px; */
    margin: auto;
}

.Landing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 90px;
    margin: 0px 25.5%;
    width: 930px;
}

.N-Bar2{
    padding-top: .5rem;
}

.L-background {
    background-color: #1A2B40;
    animation: gradientAnimation 5s infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-left: -30px;
    margin-right: -8px; */
}

@keyframes gradientAnimation {
    0% {
        background-color: #1A2B40;
    }

    50% {
        background-color: #003561;
    }

    100% {
        background-color: #1A2B40;
    }
}

.f-r {
    margin-top: 50px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.L-Carousel {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    /* margin-right: 35%; */
    /* z-index: 2; */

}

.game-list {
    padding-top: 5%;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    gap: 10px;
    padding: 4% 10%;
    margin-left:1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 1px solid red; */
}



/* LETS NOT RESIZE  */
/* MY DESCRIPTION SIDE CAROUSEL PLACEHOLDER */
/* PUT IN CONTAINER WITH CAROUSEL LATER */

.L-box{
    padding:150px;
    padding-right: 190px;
    padding-bottom: 168.1px;
    background-color: rgba(0, 0, 0, 0.5);
    /* z-index: 1; */
}


.L-title{
    color: white;
    font-weight: 500;
}

.L-price{
    color: white;
    font-weight: 300;
}

.game-img-card{
    height: 230px;
    width: 460px;
}


/* 1440:919 */

@media screen and (max-width: 1271px){
    .game-list{
        margin-top: 3rem;
        padding: 0;
    }

}

@media screen and (max-width: 944px){

    .L-box{
        display: none;
    }
    .f-r{
        display: flex;
        justify-content: center;
    }
    .NavBar2-container{
        display: flex;
        flex-direction: column;
    }
    .above-bar{
        display: flex;
        margin: 0 13%;
    }

}

/* not sure what is happening */
@media screen and (max-width: 930px){

}
