.sign-background {
    background-image: radial-gradient(circle at center, #232c4b, transparent), linear-gradient(to right, #181A21, #181A21);
    /* margin-left: -8px;
    margin-right: -8px; */
    padding-top: 100px;
    margin-top: -50px;
}

.sign-in-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.sign-in-box {
    background-color: rgb(24, 26, 33);
    padding: 20px 30px;
    border-radius: 5px;
}

/* .S-form{
    margin-right: 230px;
} */

.sign-in-text{
    color:white;
}


.S-in {
    padding-top: 70px;
    color: white;
    font-size: 30px;
    font-weight: 600;
    display: flex;
}

.S-email {
    color: #1999E3;
    font-size: 15px;
    font-weight: 400;
}

.S-password {
    color: #adafb1;
    font-size: 15px;
    font-weight: 400;
}


.sign-in-box input {
    padding: 5px 10px;
    width: 400px;
    margin-bottom: 30px;
    /* color: #32353C; */
    background-color: #32353C;
    border: none;
}


.sign-in-btn {
    background-image: linear-gradient(to right, #06BFFF, #0157c9);
    color: white;
    border: none;
    padding: 10px 70px;
    border-radius: 3px;
    cursor: pointer;

}

.sign-in-btn:hover{
    filter: brightness(110%);
}

.create-acc {
    background-image: linear-gradient(to right, #06BFFF, #0157c9);
    color: white;
    border: none;
    padding: 10px 70px;
    border-radius: 3px;
    cursor: pointer;
}

.create-acc:hover{
    filter: brightness(120%);
}

.new-to-steam {
    color: white;
    font-size: large;
    font-weight: bold;
}

.btm-page {
    margin-top: 200px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #181A21;
    height: 200px;
    /* margin-bottom: -50px; */
    padding-bottom: 80px;
}


.sign-in-demo{
    /* display: flex; */
    margin-left: 20px;
    background-image: linear-gradient(to right, #75B022, #6AA621);
    border: none;
    cursor: pointer;
    color: white;
    padding: 10px 40px;
    border-radius: 3px;
    cursor: pointer;
}

.sign-in-demo:hover{
    filter: brightness(110%);
}

.signup-in-oathbtn{
    text-decoration: none;
    background-image: linear-gradient(to right, #75B022, #6AA621);
    border: none;
    cursor: pointer;
    color: white;
    padding: 10px 40px;
    border-radius: 3px;
    cursor: pointer;
}

.signup-in-oathcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gsi-material-button {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    background-color: #f2f2f2;
    background-image: none;
    border: none;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1f1f1f;
    cursor: pointer;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    max-width: 400px;
    min-width: min-content;
  }

  .gsi-material-button .gsi-material-button-icon {
    height: 20px;
    margin-right: 12px;
    min-width: 20px;
    width: 20px;
  }

  .gsi-material-button .gsi-material-button-content-wrapper {
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }

  .gsi-material-button .gsi-material-button-contents {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
  }

  .gsi-material-button .gsi-material-button-state {
    -webkit-transition: opacity .218s;
    transition: opacity .218s;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .gsi-material-button:disabled {
    cursor: default;
    background-color: #ffffff61;
  }

  .gsi-material-button:disabled .gsi-material-button-state {
    background-color: #1f1f1f1f;
  }

  .gsi-material-button:disabled .gsi-material-button-contents {
    opacity: 38%;
  }

  .gsi-material-button:disabled .gsi-material-button-icon {
    opacity: 38%;
  }

  .gsi-material-button:not(:disabled):active .gsi-material-button-state,
  .gsi-material-button:not(:disabled):focus .gsi-material-button-state {
    background-color: #001d35;
    opacity: 12%;
  }

  .gsi-material-button:not(:disabled):hover {
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  }

  .gsi-material-button:not(:disabled):hover .gsi-material-button-state {
    background-color: #001d35;
    opacity: 8%;
  }
