/* TODO: Add sitewide styles */
/* .fira-sans-extralight {
    font-family: "Fira Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
  } */

  * {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
/*
  .fira-sans-bold {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  } */
